.custom {
    width: 600px;
    margin: 30px auto;
}

@media only screen and (min-device-width : 375px) and (max-device-width : 667px){
    .custom {
        width: 300px;
        margin: 30px auto;
    }
}