.toolbar {
    margin: 0;
    background-color: blue;
    padding: 5px;
    display: flex;
    flex-flow: row;
    justify-content: center;
}

.toolbar label {
    font-size: 30px;
    justify-self: center;
    color: white;
}
