<app-sidebar></app-sidebar>
<div class="row toolbar">
                <div class="col s2">
                    <a href="#" data-target="menu-side" class="sidenav-trigger menu"><i style="font-size:48px;" class="material-icons">menu</i></a>
                </div>
                <div class="col s10">
                  <div class="isc">
                      <label for="ISC">ISC</label>
                  </div>
                </div>
</div>
     <router-outlet></router-outlet>        

<app-footer></app-footer>
