.img {
    margin: 20px 0;
    width: 100%;
    display: flex;
    flex-flow: row;
    justify-content: center;
}

.img img {
    width:200px;
    height: 200px;
}
.cerrar {
    display: flex;
    flex-flow: row;
    justify-content: center;
    margin-top: 30px;
}